# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenvs
.venv/
venv/
env/

# Poetry
.poetry/
.poetry-cache/
.cache/
*.egg-info/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store

# Logs
*.log

# Coverage / testes
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/

# Data
data/
reports/